/Library
/Temp
/Logs
/.vs
/.suo
/.user
/.userprefs

# 유니티 로컬 사용자 설정
/UserSettings

# 프로젝트 파일 (보통은 직접 관리하지 않고 유니티가 자동 생성함)
/.csproj
/.sln
/.unityproj

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.sln
*.dwlt
/UserSettings
*.csproj
/.csproj
.csproj/